@inherits LogoutComponentBase
<button type="button" title="@Localizer[MessageKeys.DisplayLogoutButtonMessage]" class="button is-light btn btn-primary" @onclick=Logout>
    @Localizer[MessageKeys.DisplayLogoutButtonMessage]
</button>